altgraph==0.17.4
appdirs==1.4.4
build==1.2.2.post1
buildozer==1.5.0
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
Cython==3.0.12
decorator==4.4.2
distlib==0.3.9
docutils==0.21.2
ffmpeg-python==0.2.0
filelock==3.18.0
filetype==1.2.0
future==1.0.0
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
Jinja2==3.1.6
Kivy==2.3.1
Kivy-Garden==0.1.5
macholib==1.16.3
MarkupSafe==3.0.2
moviepy==1.0.3
numpy==2.2.4
packaging==24.2
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.3.7
proglog==0.1.10
ptyprocess==0.7.0
pydub==0.25.1
Pygments==2.19.1
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.2
pyproject_hooks==1.2.0
python-dotenv==1.0.1
requests==2.32.3
setuptools==78.0.2
sh==1.14.3
toml==0.10.2
tqdm==4.67.1
urllib3==2.3.0
virtualenv==20.29.3
